
# Ignore python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
.venv/
env/

# Ignore local IDE config files
.vscode/
.idea/
.DS_Store